 <ion-tabs>
  <ion-tab-bar slot="bottom">   
    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label class="tab-title">Jogadores</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="financeiro">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label class="tab-title">Financeiro</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
