<ion-content>
    <div class="deals-listing-content">
        <div class="listing-item_">
            <div class="texto_">
                <h5>Financeiro Coletivo</h5>
            </div>
            <app-aspect-ratio [ratio]="{w:146, h:80}">
                <app-image-shell class="illustration-image" animation="spinner"
                    [src]="'./assets/sample-images/financeiro/cofre.svg'" [alt]="'walkthrough'"></app-image-shell>
            </app-aspect-ratio>
        </div>
        <div class="listing-item_1">
            <div class="texto_1">
                <h5>Financeiro Individual</h5>
            </div>
            <app-aspect-ratio [ratio]="{w:146, h:80}">
                <app-image-shell class="illustration-image" animation="spinner"
                    [src]="'./assets/sample-images/financeiro/pessoal.svg'" [alt]="'walkthrough'"></app-image-shell>
            </app-aspect-ratio>
        </div>
    </div>
</ion-content>