<ion-content>
  <ion-row *ngIf="user">
    <ion-col size="12">
      <img [src]="user.avatar">
      <div class="center">
        <h3>{{user.name}}</h3>
      </div>
    </ion-col>
    <ion-col class="call-to-action-col button_modal">
      <ion-button class="signup_button" expand="block" (click)="closeModal()">Voltar</ion-button>
    </ion-col>
    <ion-col class="call-to-action-col button_modal">
      <ion-button class="signup_button" expand="block" (click)="abrir()" [routerLink]="['/app/home', user.id]">Próximo</ion-button>
    </ion-col>
  </ion-row>
</ion-content>